/* GLOBAL COLOURS */
$indigo-dye: #133c55ff;
$honolulu-blue: #386fa4ff;
$carolina-blue: #59a5d8ff;
$baby-blue: #84d2f6ff;
$sky-blue-crayola: #91e5f6ff;

/* CUSTOM VARIABLES */
$searchResultHeight: 160px;

.result {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: $searchResultHeight;
    margin-bottom: 12px;

    &:hover {
        cursor: pointer;
        background-color: #f9f9f9ff;
    }

    .thumbnail {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 284px;
    }

    h2,
    h3,
    h4 {
        margin: 0;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 620px;
        height: 100%;
        padding: 4px 12px 8px 16px;

        h2 {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 8px;
        }

        h3 {
            font-size: 14px;
            font-weight: 300;
        }

        .channel {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: auto;

            .profileImage {
                border-radius: 50px;
            }

            h4 {
                font-weight: 300;
                font-size: 16px;
                margin-left: 8px;
            }
        }

        .releasedTime {
            margin-top: 8px;
            font-weight: 300;
        }
    }

    .button {
        width: 56px;
        height: $searchResultHeight;
        border: transparent;
        border-radius: 0px 4px 4px 0px;
        background-color: $carolina-blue;
        transition: all 0.2s ease 0s;

        &:hover {
            cursor: pointer;
            filter: brightness(110%);
        }

        &:focus {
            outline: none;
        }
    }
}
