/* GLOBAL COLOURS */
$indigo-dye: #133c55ff;
$honolulu-blue: #386fa4ff;
$carolina-blue: #59a5d8ff;
$baby-blue: #84d2f6ff;
$sky-blue-crayola: #91e5f6ff;

/* CUSTOM VARIABLES */
$headerBarHeight: 56px;
$primaryTextColour: #f1f1f1ff;
$secondaryTextColour: #090909ff;

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(60vh - $headerBarHeight);

    h1 {
        font-size: 84px;
        margin: 0px 0px 48px 0px;
        color: $carolina-blue;
    }

    h2 {
        font-family: 'Raleway', sans-serif;
        font-size: 40px;
        margin: 0;
    }

    button {
        width: 264px;
        height: 48px;
        border: transparent;
        border-radius: 4px;
        background-color: $carolina-blue;
        color: $primaryTextColour;
        font-size: 20px;
        font-weight: 300;
        box-shadow: rgba(96, 96, 96, 0.2) 0px 2px 8px 0px;
        transition: all 0.2s ease 0s;

        &:hover {
            cursor: pointer;
            filter: brightness(110%);
        }

        &:focus {
            outline: none;
        }
    }
}
