.video {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 740px;
    margin: 96px auto 0px auto;

    h1 {
        font-weight: 500;
        font-size: 28px;
        margin: 20px 0px 12px 0px;
    }

    h2 {
        font-weight: 300;
        font-size: 18px;
        margin: 0;
    }
}
